
#{set 'moreScripts'}
<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/underscore-min.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/kinetic2d-v1.0.2.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/poll.js'}" type="text/javascript" ></script>
<!--[if IE]>
<script src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
<![endif]-->
#{/set}

<div id="poll-container">
    <h2>${_poll.question}</h2>
    #{if _as != 'ro'}
    #{form @PollController.vote(), class:'poll-form'}
    <span class="flash-error hide">&{'poll.error'}</span>
    <p>
        #{list items:_poll.answers, as:'answer'}    
        <input type="radio" name="answerId" value="${answer.id}" id="${_poll.id}-${answer.id}" />
        ${answer.answer} <br />
        #{/list}
        <button type="submit">&{'send'}</button>
    </p>
    #{/form}
    #{/if}
    <canvas id="poll-canvas-${_poll.id}" class="hide" width="600" height="200"></canvas>
    #{if _as == 'ro'}
    <script type="text/javascript">
        showResults(
            %{println(new com.google.gson.GsonBuilder().setExclusionStrategies(
            new utils.JsonExclusionStrategy()).create().toJson(_poll))}%
        );
    </script>
    #{/if}
</div>
