#{extends 'main.html' /}
#{set title:event.title /}

#{if event}
	#{include 'Application/_eventHeader.html' /}
#{/if}
<section id="main">
	<nav>
		#{if (memberEvent.size() > 0)}<h2>&{'member.event'}</h2>#{/if}
		<ul>
			#{list memberEvent, as : "evt"}
			<li>
				<a href="@{Application.event(evt.id)}">${evt.title}</a>
				<span class="date">${evt.date.format('dd MMMM yyyy', 'fr')}</span>
			</li>
			#{/list}
		</ul>
	</nav>
	<article id="member">
			<div class="member-photo">
			#{if (member.photoUrl)}
				<img alt="${member.fullName}" src="${member.photoUrl}">
			#{/if}#{else}
				<img alt="${member.fullName}" src="${member.getGravatar()}">
			#{/else}
			</div>
			<div>
			<h3>
			#{if (member.personalUrl)}
				<a href="${member.personalUrl}" target="_blank">${member.fullName}</a>
			#{/if}
			#{else}
				${member.fullName}
			#{/else}
			#{if (member.memberFct)} &nbsp; <span class="member-fonction">(${member.memberFct})</span>#{/if}</h3>
			#{if (member.url)}
				<span><a href="${member.url}" target="_blank">${member.company}</a></span><br />
			#{/if}#{else}
				<span>${member.company}</span><br />
			#{/else}
			${member.activity.nl2br()}<br />
			#{if (member.description)}
				${member.description.nl2br()}
			#{/if}
			</div>
		</article>
</section>

