#{extends 'main.html' /}
#{set title:'News' /}

#{if event}
	#{include 'Application/_eventHeader.html' /}
#{/if}
<section id="members">
	<h2>News</h2>
	#{list news, as : "n"}
		<article>
			<div>
			<h2><a href="@{Application.newsDetail(n.id)}">${n.title}</a></h2>
			<span class="news-posted">posté le ${n.date.format('dd MMMM yyyy', 'fr')}</span>
			<p>
			${n.getShortContent(100).nl2br()}#{if n.getShortContent(100).length() >= 100}&nbsp;<a href="@{Application.newsDetail(n.id)}">...</a>#{/if}
			</p>
			</div>
		</article>
	#{/list}
</section>

