#{extends 'main.html' /}
#{set title:'Partenaire: ' + partner?.name /}

#{if event}
	#{include 'Application/_eventHeader.html' /}
#{/if}
<section id="main">
	<nav>
		<h2>Sponsor Annuel</h2>
	</nav>
	<article>
		<div>
			<h2>${partner.name.capitalize()}</h2>
			<p><a href="${partner.url}" target="_blank">${partner.url}</a></p>
			<p>&nbsp;</p>
			#{if partner.logoURL}
			    <p align="center"><img style="max-width: 275px; max-height:100px;" src="${partner.logoURL}"/></p>
			#{/if}
			<p>${partner.description.nl2br()}</p>
		</div>
	</article>
</section>

